{:paths ["src"]
 :deps  {metosin/malli      {:mvn/version "0.20.1"}
         metosin/jsonista   {:mvn/version "1.0.0"}
         org.java-gi/gtk    {:mvn/version "1.0.0-RC2"}
         org.java-gi/webkit {:mvn/version "1.0.0-RC2"}}}